<footer class="container">

  <div class="row">

  <div class="col-lg-3 col-lg-offset-4">
  <p class="text-center">
    <small>Copyright @2017 CHENStore
    <br>
      <small>Dsigin by chen</small>

  </small>
  </div>
  </div>
</footer>