<div class="row">

  <div class="col-md-6">

    <% if @product.image.present? %>

    <%= image_tag(@product.image.medium.url,class:"thumbnail")%>

    <% else %>

    <%= image_tag("http://placholder.it/400*400&text=No PIc",class:'thumbnail')%>

    <% end %>

  </div>

</div>