<div class="row">
  <div class="col-md-12">
    <h2>
      订单明细
    </h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="80%">
          商品明细
        </th>
        <th>
          单价
        </th>
      </tr>
      </thead>
    </table>
     <tbody>
     <% @product_lists.each do|list|%>
         <tr>
           <th>
             <%= list.product_name%>
           </th>
           <th>
             <%= list.product_price%>
           </th>

         </tr>




     <% end %>



     </tbody>


  </div>
</div>